*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Montserrat', sans-serif;
	list-style: none;
	text-decoration: none;
}
/* sätter grundstyle på texter, listor */


header{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 10%;
	background-color: rgb(157, 157, 157);
}
/*designar headern med storlek, färg, samt avstånd mellan inehållet i headern*/

.logo img{
	max-width: 50px;
	max-height: auto;
}
/* storlek på loggan */

.navmenu{
	display: flex;
}

.navmenu a{
	color: #2c2c2c;
	font-size: 16px;
	text-transform: capitalize;
	padding: 10px 20px;
	font-weight: 400;
	transition: all .42s ease;

}

.navmenu a:hover{
	color: #ee1c47;
}
/*fixar men menyn, först avståndet, sedan storlek, färg, padding mm, och sedan färg när man hoverar */

.nav-icon{
	display: flex;
	align-items: center;
}

.nav-icon i{
	margin-right: 20px;
	color: #2c2c2c;
	font-size: 25px;
	font-weight: 400;
	transition: all .42s ease;
}

.nav-icon i:hover{
	transform: scale(1.1);
	color: #ee1c47;
}
/* här fixar jag med nav ikonen, hur stor, avstånd mm, som på navmenun*/

#menu-icon{
	font-size: 35px;
	color: #2c2c2c;
	z-index: 10001;
	cursor: pointer;
}
/* styla hamburgarmenyknappen :) */

section{
	padding: 5% 10%;
}
/* gav alla sections en padding för att lämna lite utrymme mellan de olika sektionerna så allt inte hamnar i en smörja */

.main-home{
	width: 100%;
	height: 100vh;
	background-image: url(../img/pexels-photo-140234.webp);
	background-position: center;
	background-size: cover;
}
/* fixade bakgrund för första sektionen, vilket blir det man ser när man först kommer in på sidan. Ville inte ha över hela sidan 
för det blir så otydligt och rörigt och svårt att läsa text */

.main-text h1{
	color: black;
	font-size: 65px;
	text-transform: capitalize;
	line-height: 1.1;
	font-weight: 600;
	margin: 6px 0px 10px;
}

.main-text p{
	color: black;
	font-size: 20px;
	font-style: italic;
	margin-bottom: 20px;
}
/*stylade lite text i sektionen */

.main-btn{
	display: inline-block;
	color: black;
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
	border: 2px solid black;
	padding: 12px 25px;
	transition: all .42s ease;
}

.main-btn:hover{
	background-color: black;
	color: white;
}

.main-btn i{
	vertical-align: middle;
}
/* stylade main btn, färg och storlek, samt att när man hoverar så ska den byta färg, från svart text vid bakgrund till vit text 
och svart bakgrund */

.down-arrow{
	position: absolute;
	top: 85%;
	right: 11%;
}

.down i{
	font-size: 30px;
	color: #2c2c2c;
	border: 2px solid #2c2c2c;
	border-radius: 20px;
	padding: 12px 12px;
}

.down i:hover{
	background-color: #2c2c2c;
	color: white;
	transition: all .42s ease;
}
/* fixade knappen från första sektionen ner till sektionen där jag visar upp de populäraste produkterna för att öka deras exponering. */

header.sticky{
	padding: 20px 10%;
	box-shadow: 0px 0px 0px rgb(0 0 0/10%);
}
/* gav headern lite style för när den blir .sticky, alltså när man scrollar */

.center-text h2{
	color: #111;
	font-size: 28px;
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 30px;
}
/* styla text, inte mer än så */

.row{
	position: relative;
	transition: all 0.4s;
}

.row img{
width: 100%;
height: auto;
transition: all 0.4s;
padding: 10px;
}


.row img:hover{
	transform: scale(1.05);
}
/* fixade placering och style för produkternas element samt bilderna på produkterna. Dessutom förstorade bilder när man hoverar */

.heart-icon{
	position: absolute;
	right: 0;
	font-size: 20px;
}

.heart-icon:hover{
	color: red;
}

.rating i{
	color: #ff8c00;
	font-size: 18px;
}
/* fixade så stjänorna för betyget blev rätt färg samt fiaxde position, storlek och färg på gilla ikonerna */

.price h4{
	color: black;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 400;
}


.product-text h5{
	position: absolute;
	top: 13px;
	left: 13px;
	color: white;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	background-color: #27b837;
	padding: 3px 10px;
	border-radius: 2px;
}

.price p{
	color: #151515;
	font-size: 14px;
	font-weight: 600;
}
/* stylat text för produkterna. */


.client-reviews{
	background-color: azure;
}

.reviews{
	text-align: center;
}

.reviews h3{
	color: black;
	font-size: 25px;
	text-transform: capitalize;
	text-align: center;
	font-weight: 700;
}

.reviews p{
	color: #707070;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	margin-bottom: 10px;
}

.reviews h2{
	font-size: 22px;
	color: black;
	font-weight: 400;
	text-transform: capitalize;
	margin-bottom: 2px;
}
/* stylat all text för en utvald review, inkluderar flera rubriker, test och bakgrundsfärg. */



footer img{
	max-width: 50px;
	height: auto;
}

footer{
	text-align: center;
	background-color: rgb(157, 157, 157);
	padding-bottom: 15px; 
	padding-top: 10px;
}
/* stylat footern med kontakt och adress, lagt allt i mitten samt lagt in loggan även här. Även lite padding för att inte texten 
skulle hamna ute i kanterna */

@media(max-width:890px){
	header{
		padding: 20px 3%;
		transition: .4S;
	}
}
/* minska paddingen på headern när skärmstorleken minskar */

@media(max-width:630px){
	.main-text h1{
		font-size: 50px;
		transition: .4s;
	}
	.main-text p{
		font-size: 18px;
		transition: .4s;
	}
	.main-btn{
		padding: 10px 20px;
		transition: .4s;
	}
}
/*	Ändrar fontsize på text och padding på ikoner när skärmstorleken minskar */

@media(max-width:750px){
	.navmenu{
		position: absolute;
		top: 100%;
		right: -100%;
		width: 150px;
		height: 400px;
		background-color: rgb(193, 237, 229, 0.8);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 120px 30px;
		transition: all .42s;	
	}
	.navmenu a{
		display: block;
		margin: 5px;
	}
	.navmenu.open{
		right: 0;
	}
}
/*fixade menyn, som ska synas när man trycker på hamburgarmenyknappen. Stylade den med storlekar och färg och padding och position. 
tar bort länkarna i headern, ersätts (se kod nedan)  
*/

@media(min-width:750px){
	#menu-icon{
		color: rgb(157,157,157);
	}
		
}

/* gjorde så att hamburgarmenyknappen inte syns när länkarna finns längst upp, utan den syns endast när headern är smal */

